.container-master-events {
    background-color: #f9f2ed;
}
.events-title {
    background-color: #F9B384;
}
.container-events {
    display: flex;
    flex-direction: column;
    padding:2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-info-calendar {
    background-color: #f9f2ed;
}
.event-basic-info{
    width: 100%;
}

.calendar-item {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
}




