.footer-container {
  display: flex;
  background-color: #F9F2ED;
  gap: 0px !important;
}

.container-heroapp {
  text-align: center;
  z-index: 0;
  /* border: 1px solid black; */
}

.container-foot {
  justify-self: center !important;
  flex-grow: 1;
}

.heroapp {
  width: 50%;
  filter: drop-shadow(1px 1px 2px #581c0c)
}

.pedido-text {
  text-align: center;
  margin-left: 30px;
  border-bottom: 2px solid #f8b384;
  border-top: 2px solid #f8b384;
}

.app-text {
  color: #f47d2d;
  font-size: 15px;
  font-weight: 800;
}


/* @media screen and (max-width: 600px) {
  .container-heroapp {
    height: 20px;
  }

  .heroapp {
    height: 100%
  }
} */

/* @media screen and (max-width: 768px) {
  .container-heroapp {
    height: 50%;
  }

  .heroapp {
    height: 50%
  }
}

@media screen and (min-width: 769px) {
  .container-heroapp {
    height: 100%;
  }

  .heroapp {
    height: 70%
  }
} */