@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.hero-container {
  background-color: #f9f2ed;
}

.first-container {
  background-image: url('/src/media/banner-hero3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
}

.text-container {
  background-color: rgba(249, 179, 132, 0.9);
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.codyhero {
  height: 20rem;
  max-height: 35%
}

.text-box {
  color: #faf5f1;
  text-transform: uppercase;
  text-shadow: 2px 3px 2px #318aac;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
}

.hero-container {
  width: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

}

.cta-store {
  background-color: #318aac;
  color: #f9f2ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
  font-weight: bold;
  box-shadow: 1px 1px 5px black;
}

.cta-store:hover {
  background-color: #fd981f;
  color: #318aac;
  border: 1px white solid;
}

@media (max-width: 1024px) {
  .wrap-text {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .wrap-text {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .wrap-text {
    font-size: 10px;
  }
}

@media (min-width: 467px) {
  .cta-store {
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    background-color: #318aac;
    color: #f9f2ed;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    font-weight: bold;
  }
}

@media (max-width: 400px) {
  .wrap-text {
    font-size: 8px;
  }

  .codyhero {
    height: 4rem !important;
    /* max-height: 35% */
  }
}