@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.hero-container {
  background-color: #f9f2ed;
}

.first-container {
  background-image: url('/src/media/banner-hero3.jpg');
  background-size: cover;
  background-color: #F9B384;
}




.text-container {
  background-color: #f9b384d0;
  margin-right: 5rem;
  width: 45%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding-top: 50px;
}

.abouttitle{
  color: #581c0c;
}

.item-list{
  color: #f89f64;
  font-size: 20px;
  font-weight: 600;
}
.item-list2{
  color: #533704;
  font-size: 20px;
  font-weight: 600;
}

.coText{
  color: #fd981f;
  font-size: 30px;
}

.dyText{
  color: #533704;
  font-size: 30px;
}

.aboutsub{
  border-top: 2px #581c0c solid;
  border-bottom: 2px #581c0c solid;
  font-weight: 700;
}

.div-intermedio{

  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between!important;
  align-items: center;
}

.codyhero {
  height: 100px;
}

.text-box{
  color: #faf5f1;
  width: 450px;
  text-transform: uppercase;
  display: block;
  font-size: 42px;
  text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
}

.hero-container {
  width: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  
}

.button-hero{
  background-color: #318aac;
  color: #f9f2ed;
  border-radius: 20px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  align-items: center;
}

.button-hero:hover{
  background-color: #fd981f;
  color: #fff;

}

@media (max-width: 1024px) {
  .wrap-text {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .wrap-text {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .wrap-text {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .wrap-text {
    font-size: 8px;

  }
}