.container-modal {
    max-height: 90vh;
    margin-top: 7rem;
    overflow-y: auto;
}

.background-modal {
    background-color: #581C0C;
}

.cont-booking-buttons {
margin: 0.5rem;
}

.cont-like-buttons {
    margin: 0.5rem;
}

.cont-buttons {
    flex-direction: column;
}