@import url('http://fonts.cdnfonts.com/css/a-love-of-thunder');

.logo-navbar {
  height: 10rem;
  width: 10rem;
  position: absolute;
}



.button-login {
  background-color: #318aac!important;
}

.button-login:hover{
  color: #f9f2ed!important;
  background-color: #FFA43A!important;
}

.navbar {
  background-color: #f9f2ed;


}

.border{
  border: none!important;
}

@media (max-width: 768px) {
  .logo-navbar {
    height: 7rem;
    width: 7rem;
    position: absolute;
  }

}