.logo-navbar {
  height: 6rem;
  width: 6rem;
  position: absolute;

}

.menu-h {
  margin-left: 200px;
}

.container-logo {
  padding-bottom: 2rem;

}

.logo-navbar-menu {
  height: 10rem;
  width: 10rem;
}