
.bg-cardcontainer{
    background-color: #f9f2ed;
    height: fit-content;
}

.card-container {
    background-image: url(https://i.imgur.com/nrahNBR.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    width: 100%;
    box-shadow: 1px 1px 4px #581c0c;

}

.product-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70%;
    filter:drop-shadow(5px 5px 3px black)
}
.img{
    height: 180px;
}

.product-info{
    min-height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.flex-conteiner-info{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}

.price{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;;
    font-weight: bold;
    color: #581c0c;
    background-color: #f8b384;
    text-shadow: 2px 2px 5px #581c0c;
    padding: 0.3rem 0.5rem;
    border-radius: 50px;
    border: 0.1rem solid #f9f2ed;
}

.store-title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;;
    font-weight: bold;
    color: #581c0c;
    text-align: center;
}

.fontfamily{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
    font-weight: bold;
    font-size: 1.0rem;
    border-radius: 5px;
    color: #f8b384;
    text-shadow: 1px 1px 4px #581c0c;
    background-color: #f9f2ed;
    text-align: center;
    padding: 0.4rem;
}

.searchinput {
    border: 1px solid #581c0c;
    background-color: #f8b384;
    padding-left: 20px;
}




/* 





.imgcontainer{
    height: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD



=======
.product-item {
    height: 200px;
    filter: drop-shadow(5px 5px 3px black);
}

.fontfamily {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 5px;
    color: #f8b384;
    text-shadow: 2px 2px 5px #581c0c;
    background-color: #f9f2ed;
    padding: 10px 30px;
    min-width: 80%;
    text-align: center;
}
>>>>>>> 87f0910e34083624954d19a651ff4089fa600af1

.info-content {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    justify-content: space-between;

}


.product-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

<<<<<<< HEAD

=======
.price {
    background-color: #f8b384;
    text-shadow: 2px 2px 5px #581c0c;
    padding: 0.3rem 0.5rem;
    border-radius: 50px;
    border: 0.1rem solid #f9f2ed;
}
>>>>>>> 87f0910e34083624954d19a651ff4089fa600af1

.button {
    padding: 0.4rem !important;
    background-color: #3ab0ff;
    box-shadow: 0px 0px 10px#addeff;
}

.group-cards {
    flex-wrap: wrap;
    min-width: fit-content;
    box-shadow: 1px 1px 4px #581c0c;
    border-radius: 15px;
    height: 70vh;
} */
/* mejorar shadow */
/* 
    /*  */
    .detail-modal{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

.image-modal{
    width: 100px;
}

.all-info {
    display: flex;
    justify-content: space-around;
}

.add-cart {
    display: flex;
    justify-content: center;

}

.description-modal {
    display: flex;
    justify-content: center;
}