.no-results{
    display: flex;
    justify-content: center;
    height: 27rem;
    width: 40rem !important;
    background-image: url(https://i.imgur.com/pWES2cW.png);
    background-repeat: no-repeat;
    background-size: 50rem 30rem;
    object-fit: cover;
    position: relative;
    bottom: 5rem;
    left: 15rem;
}

.no-results-text{
    height: 1rem;
    position: relative;
    top: 16rem;

    font-size: .9rem;
    left: 5rem;
    font-weight: bold;
}
.bg-cardcontainer{
    background-color: #f9f2ed;
    height: fit-content;
}

.card-container {
    background-image: url(https://i.imgur.com/nrahNBR.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    width: 100%;
    box-shadow: 1px 1px 4px #581c0c;

}

.product-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 65%;
    filter:drop-shadow(5px 5px 3px black)
}
.img{
    height: 180px;
}

.product-info{
    min-height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-conteiner-info{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}

.price{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;;
    font-weight: bold;
    color: #581c0c;
    background-color: #f8b384;
    text-shadow: 2px 2px 5px #581c0c;
    padding: 0.3rem 0.5rem;
    border-radius: 50px;
    border: 0.1rem solid #f9f2ed;
}

.store-title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;;
    font-weight: bold;
    color: #581c0c;
    text-align: center;
}

.fontfamily{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 5px;
    color: #ea8e51;
    text-shadow: 1px 1px 2px #581c0c;
    background-color: #f9f2ed;
    text-align: center;
    padding: 0.4rem;
}

.searchinput {
    border: 2px solid #581c0c!important;
    background-color: #f8b384;
    padding-left: 20px;
}


/* mejorar shadow */
/* 
    /*  */
    .detail-modal{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

.viewmore-button{
    background-color: #318aac;
}

.viewmore-button:hover{
    color: #318aac!important;
}



.all-info {
    display: flex;
    justify-content: space-around;
}

.add-cart {
    display: flex;
    justify-content: center;

}

.description-modal {
    display: flex;
    justify-content: center;
}



/*  */

.MoreBorder{
    background-color: #f9f2ed;
    
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 60vh;
    border-radius:10px;
    box-shadow: 2px 2px 5px #581c0c;
}

.imgs-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;

}

.MoreProduct{
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 100%;
    margin-bottom: 1rem;
}

.BoxModal{
    border-radius: 10px;
}

.MoreCody{

    /* filter:drop-shadow(2px 2px 2px #581c0c); */
height: 95px;
align-self: flex-start;
justify-self: flex-end;
}



.codymore{
    height: 120px;
    transition: transform .7s ease-in-out;
    /* background-color: #f8b384; */
    background: linear-gradient(100deg, #581c0c, #f8b384);
    border: #581c0c 1px solid;
    border-radius: 100px;
    box-shadow: 1px 1px 10px #f8b384;
}


.codymore:hover{transform: rotate(360deg);}

.image-modal{

    justify-self: flex-start!important;
    height: 160px;
    transition: transform .2s;

}
.image-modal:hover{
    transform: scale(1.6);
}



.MoreData{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 50%;

}
.MoreName{
    font-size: 1.5rem;
}




.MoreInfo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 0.7rem;
}

.MoreBuy{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}



.MorePrice{
    width: 30%!important;
    text-align: center;
    border-top: 2px solid #f8b384;
    border-bottom: 2px solid #f8b384;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    color: #581c0c;
    font-weight: bold;
}

.MoreStock{
    width: 30%!important;
    text-align: center;
    border-top: 2px solid #f8b384;
    border-bottom: 2px solid #f8b384;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    color: #581c0c;
    font-weight: bold;
}

.MoreSelect{
    background-color: white;
    border: 1px thin #f8b384!important;


}


 .boton3 {
    color: #318aac !important;
    font-size: 20px;
    font-weight: 500;
    padding: 2px 6px;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: #318aac;
    transition: all 1s ease;
    position: relative;
  }
  .boton3:hover {
    background: #318aac;
    color: #fff !important;
  } 

  .boton4 {
    min-width: 40%!important;
    background-color: #f9f2ed!important;
    font-size: 20px;
    font-weight: 500;
    padding: 2px 12px;
    color: #318aac;
    border: 2px solid;
    border-color: #318aac;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: all 1s ease;
    position: relative;
    box-shadow: 1px 1px 5px black;
  }
  .boton4:hover {
    background-color: #318aac!important;
    color: #fff !important;
  } 

  .boton5 {
    background-color: #f9f2ed!important;
    font-size: 20px;
    font-weight: 500;
    padding: 2px 6px;
    color: #318aac;
    border: 2px solid;
    border-color: #318aac;
    transition: all 1s ease;
    position: relative;
  }

  .boton5 {
    background-color: #318aac!important;
    color: #fff !important;
  }


  /* /rol admin/ */
.panel-admin{
    color: #f9f2ed;
    padding: 2px 4px;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  border:#318aac 1px solid;
  border-radius: 5px;
}
.modal-admin{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.admin-title{
    background-color: #318aac;
    color: #f9f2ed;
    width: 100%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
    font-weight: bold;
    text-shadow: 1px 1px 4px #1c0702;
}
.admin-text{
    padding: 1rem;
    font-weight: bold;
    color: #581c0c;

}
.admin-container{
height: 10rem;
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: center !important;
align-items: center;
border:#318aac 2px solid;


margin: .5rem;

/* /modify/ */


}

.material-symbols-outlined { 
    border-radius: 10px ;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
/* /delete/ */
.delete{

        color: #318aac !important;
        font-size: 20px;
        font-weight: 500;
        padding: 2px 6px;
        background: rgba(0,0,0,0);
        border: 2px solid;
        border-color: #318aac;
        /* transition: all 1s ease; */
        position: relative;

}
.button-admin:hover {

   color:#318aac;
   background-color: #f9f2ed;
  } 
.material-symbols-outlined { 

    border-radius: 10px !important;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.button-admin{
    color: #f9f2ed;
    margin: .5rem;
    background-color: #318aac;
    border:#318aac 2px solid;
    border-radius: 10px;
    font-weight: bold;
    transition: all 1s ease; 
    padding: 0px 5px;
    font-weight: 500;

    transition: all 1s ease; 
    position: relative;


}