
.container-sb {
    height: 100vh;
}

.store-conteiner {
    height: 100vh;
}

/* .sidebar-container {
    height: 100vh;
    object-fit: contain;
} */

.sidebar {
    box-shadow: 1px 1px 4px #581c0c;
    background-color: #f8b384;
    position: sticky;
top:100px;
display:inline-block;
}

.list-hover:hover{
    background-color: #318aac!important;
    
}

.logo-side{
    display: flex!important;
    flex-direction: row!important;
    justify-content: center!important;
    align-items: center;
    height: 20vh !important;
    padding: 0 !important;
}

/* cart */
.cartbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart-icon{
    font-size: 2rem !important;
}
.cart-quantity{
    background-color: #3ab0ff;
    color: white;
    border-radius: 50px;
    width: 20px;
    height: 5px;
    padding-bottom: 1.5rem;
    margin-bottom: 1.3rem;
    position: relative;
    right: 0.3rem;
    bottom: 0.3rem;
}
