.container-sb {
    height: 100vh;
}

.store-conteiner {
    height: 100vh;
}

/* .sidebar-container {
    height: 100vh;
    object-fit: contain;
} */

.sidebar {
    box-shadow: 1px 1px 4px #581c0c;
    background-color: #f8b384;
    position: sticky;
    top: 60px;
    /* display: inline-block; */
}

.list-hover:hover {
    background-color: #318aac !important;

}

.logo-side {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center;
    height: 20vh !important;
    padding: 0 !important;
}

/* cart */

.cart-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-cart-icon {
    height: 70px;
    width: 70px;
    transition: all 1s ease !important;
    overflow: hidden;
    border: #318aac 2px solid !important;
    color: #318aac !important;
    background-color: #fde9da !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.btn-cart-icon:hover {
    border: #f9f2ed 2px solid !important;
    background-color: #318aac !important;
    color: #f9f2ed !important;
}

.cart-icon {
    font-size: 2rem !important;
}

.cart-quantity {
    background-color: rgb(227, 56, 56);
    color: #f9f2ed;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    padding: 5px;
    position: absolute;
    right: 0.3rem;
    bottom: 42px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* cart modal */
.modal-cart {
    background-color: #f9f2ed !important;
    border: #581c0c 1px thin !important;
    border-radius: 15px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.7rem;
    width: 400px;
    box-shadow: 24px;
}

.box-cart {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f8b384;
    box-shadow: 2px 2px 5px #581c0c;
    padding: 0.5rem;
}

.cart-items{
    height: 50vh;
    background-color: #f9f2ed;
    border-radius: 10px;
    margin: 0.5rem 0;
}
.scroll-products {
    overflow-y: scroll;
}
.scroll-products::-webkit-scrollbar-thumb {
    background: #318aac;
    border-radius: 20px;
}

.scroll-products::-webkit-scrollbar {
    background-color: transparent;
    width: 13px;
    border-radius: 50px !important;
}

.cart-product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.img-name-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.cart-product-img {
    height: 150px;
    transition: transform .2s;
}

.cart-product-img:hover {
    transform: scale(1.5);
}

.box-botones {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.btn-del {
    background-color: white;
    color: #3ab0ff;
    border: 2px solid #3ab0ff;
    padding: 0px 5px;
}

.btn-del:hover {
    background-color: #3ab0ff;
    color: white;
    border: 2px solid #3ab0ff;
}

.btn-clear {
    background-color: white;
    color: #3ab0ff;
    border: 2px solid #3ab0ff;
    padding: 0px 5px;
    margin-bottom: 5px;
}

.btn-clear:hover {
    background-color: #3ab0ff;
    color: white;
    border: 2px solid #3ab0ff;
}

.cart-item-info {
    text-align: center;
    border-top: 2px solid #f8b384;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    color: #5e524e;
    font-weight: 500;
    font-size: 0.8rem;
    padding: 0px 5px;
}

.cart-item-price {
    width: 70% !important;
    text-align: center;
    border-top: 2px solid #f8b384;
    border-bottom: 2px solid #f8b384;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    color: #581c0c;
    font-weight: bold;
}

.cart-cont-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cart-total-txt {
    min-width: 40% !important;
    border-radius: 0 !important;
    text-shadow: none !important;
    color: #318aac !important;
    background-color: #f9f2ed !important;
    border: #318aac 2px solid !important;
    padding: 10px 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 800 !important;
}

.cont-buy {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.codybuy {
    height: 80px;
    transition: transform .7s ease-in-out;
    /* background-color: #f8b384; */
    box-shadow: 1px 1px 10px #f8b384;
}

.codybuy:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}